html,
body {
  height: 100%;
  width: 100%;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
}
.bigbox {
  width: 100%;
  height: 100%;
  position: relative;
  min-width: 320px;
  max-width: 640px;
  background: pink;
  margin: 0 auto;
  overflow: hidden;
  padding: 45px 0 55px 0;
}
.bigbox header {
  width: 100%;
  height: 45px;
  text-align: center;
  color: #fff;
  background: darkorange;
  position: absolute;
  left: 0;
  top: 0;
}
.bigbox header h4 {
  line-height: 45px;
  font-weight: 400;
  margin: 0;
}
.bigbox header a {
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  position: absolute;
  top: 0;
}
.bigbox header a:first-child {
  left: 0;
}
.bigbox header a:last-child {
  right: 0;
}
.bigbox footer {
  width: 100%;
  height: 55px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: darkorange;
}
.bigbox footer ul li {
  float: left;
  width: 25%;
  text-align: center;
  padding: 10px;
}
.bigbox footer ul li a {
  color: #fff;
}
.bigbox footer ul li a p {
  color: #fff;
}
.main {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background: #fff;
}
.seach_box {
  padding: 10px;
  position: relative;
}
.seach_box button {
  position: absolute;
  right: 10px;
  top: 10px;
  height: 34px;
  background: darkorange;
  color: #fff;
}
.seach_box input {
  padding: 0;
  margin: 0;
  border: 1px solid darkorange;
  padding-left: 10px;
  color: #999;
  line-height: 34px;
  height: 34px;
  font-size: 14px;
}
.product {
  padding: 10px;
}
.product li {
  width: 48%;
  float: left;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
}
.product li:nth-child(even) {
  float: right;
}
.product li a {
  display: block;
}
.product li a img {
  width: 100%;
}
.product li a div {
  color: #f00;
  font-size: 12px;
}
.product li a div .oldprice {
  color: #999;
}
.loading {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 100%;
}
.mui-toast-container {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
