.sort_box {
  background: #eee;
  padding: 0 10px;
}
.sort_box li {
  float: left;
  width: 25%;
  text-align: center;
  height: 40px;
  line-height: 40px;
}
.sort_box li a {
  font-size: 13px;
  color: #666;
}
.sort_box li.active a {
  color: orange;
}
.empty_data {
  width: 60%;
  color: #999;
  text-align: center;
  margin: 50px auto;
}
